[submodule "FoodLamp-Backend"]
	path = foodlamp-backend
	url = git@github.com:Tarushfx/foodlamp-backend.git
	branch = main
[submodule "FoodLamp-Frontend"]
	path = foodlamp-frontend
	url = git@github.com:Tarushfx/foodlamp-frontend.git
	branch = main
